print_banner:    true   # Print TalOS banner on startup.
ansi_escapes:    true  # Support for ANSI escape sequences.
redstone_device: true   # Define MineCraft's Redstone device.  

logger: 
    level: debug  # From least to most verbose: `off` `info` `warn` or `debug`.

    info: 
        stacks:   true   # Print stacks after each evaluation.
        prompt:   true   # Print the heap's `head` pointer inside the prompt.
        summary:  true   # Print the assembled definition summary.
    
    warn: 
        abort:    true   # Warn each time an evaluation is aborted.
        redef:    true   # Warn on each redefinition.
    
    debug: 
        input:    false  # Print the input buffer.
        length:   false  # Print the assembled bytecode `length`.
        head:     false  # Print the head bytecode.
        head_ptr: false  # Print the head pointer.
        tail:     false  # Print the tail symbols.
        tail_ptr: false  # Print the tail pointer.

theme: 
    # RGB in decimal.
    tui: 
        red: 
            #          16-bit  32-bit    Decimal
            # Default: 3daf    33cc99ee  (51, 221, 170, 255)
            background: 51
            foreground: 204
            emphasis:   153
            error:      238

        green: 
            #          16-bit  32-bit    Decimal
            # Default: 0d79    00bb5577  (0, 221, 119, 153)
            background: 0
            foreground: 187
            emphasis:   85
            error:      119
    
        blue: 
            #          16-bit  32-bit    Decimal
            # Default: 2ca7    22bb9955  (34, 204, 170, 119)
            background: 34
            foreground: 187
            emphasis:   153
            error:      85

    # RGB in hexadecimal.
    gui:
        #                            Default
        #                  16-bit  24-bit   Decimal
        #      background  #302    #330022  (51,  0,   34)
        #      |foreground #ddc    #ddddcc  (221, 221, 204)
        #      ||emphasis  #a7a    #aa77aa  (170,  119, 170)
        #      |||error    #f97    #ff9977  (255, 153, 119)
        #      ||||
        #      vvvv )
        red:   3daf
        green: 0d79
        blue:  2ca7
